/* Ajusta el texto del párrafo a un cuerpo de letra muy grande. */
p { 
    font-family:"Lucida Calligraphy";
}

#textoGrande {
    font-size: 30px;
}

/* Ajusta la cabecera de nivel 1 (h1) a 2,5 veces del tamaño
 * del texto. */
h1 { 
    font-size: 300%;
    font-family:"Lucida Calligraphy";
}

h3 { 
    font-size: 300%;
    font-family:"Lucida Calligraphy";
}

/* Ajusta el texto incluido en span a 16px */
span { font-size: 16px; }

a{
    /*text-decoration: none;*/
    font-family:"Lucida Calligraphy";
    
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fca0c7;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #fca0c7;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #fca0c7;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

body { 
    background-color: #fbbcd9; 
}